{% extends 'base.html' %}
{% load static %}

{% block title %}ChatGPT{% endblock title %}
{% block topfiles %}
<script>
    $(document).ready(function(){
        let textarea = document.getElementById("completion");
        let input_prompt = document.getElementById("prompt");
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        $("#submit_send").click(function(){
            textarea.value = textarea.value + "User >> " + input_prompt.value + "\n";

            $.post("{% url 'chatgpt:index' %}",{
                prompt: input_prompt.value
            },
            function(res){
                textarea.value = textarea.value + "\nGPT >> " + res['completion'] + "\n";
            });
        });
    });
</script>
{% endblock topfiles %}
{% block header_con %}
{% endblock header_con %}
{% block body %}

<textarea type="text" name="completion" id="completion" class="input-group mb-3 bg-dark text-light"
          readonly style="border-radius: 3px" rows="25">
</textarea>
<div class="input-group mb-3">
    <input type="text" id="prompt" class="form-control bg-dark text-light" placeholder="说点什么好呢..."
           aria-label="说点什么好呢..." aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button id="submit_send" class="btn btn-outline-secondary bg-dark" type="button">Send</button>
    </div>
</div>

{#<form class="send" id="send_form">#}
{#</form>#}
{#<input type="button" id="btn_click" value="click">#}

{% endblock body %}
{% block footer_con %}{% endblock footer_con %}
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/chatgpt.js' %}"></script>
{% endblock bottomfiles %}

