{% extends 'base.html' %}
{% load static %}

{% block title %}注册{% endblock title %}
{% block topfiles %}{% endblock topfiles %}
{% block header_con %}{% endblock header_con %}
{% block body %}

<!--content-->
    <h1 class="text-light text-center">注册账号</h1>
<div class="container bg-dark text-light" style="height: fit-content; margin-top: 2rem; padding-top: 1rem; padding-bottom: 1rem; border-radius: 20px">
    <div class="row" >
        <div class="col-10">
            <div class="col-8">
                <form class="login" id="login_form" method="POST">
                    {% csrf_token %}
                    <!--手机号-->
                    <div class="form-group">
                        <label style="margin-left: 1rem">手机号: </label>
                        <div class="col-lg-8">
                            <input type="text" name="mobile" placeholder="请输入手机号" autofocus="autofocus" required
                                   id="id_login" class="form-control bg-dark text-light" v-model="mobile" @blur="check_mobile" />
                        </div>
                        <small class="form-text text-muted ml-1 bg-dark" v-show="mobile_error" >[[mobile_error_message]]</small>
                    </div>
                    <!--邮箱-->
                    <div class="form-group">
                        <label style="margin-left: 1rem">邮箱: </label>
                        <div class="col-lg-8">
                            <input type="email" name="email" placeholder="请输入邮箱" autofocus="autofocus" required
                                   class="form-control bg-dark text-light" v-model="email" @blur="check_email" />
                        </div>
                        <small class="form-text text-muted ml-1 bg-dark" v-show="email_error" >[[email_error_message]]</small>
                    </div>
                    <!--密码-->
                    <div class="form-group">
                        <label style="margin-left: 1rem">密码:</label>
                        <div class="col-lg-8">
                            <input type="password" name="password" placeholder="请输入密码" required  class="form-control bg-dark text-light" v-model="password" @blur="check_password" />
                        </div>
                        <small class="form-text text-muted ml-1 bg-dark" v-show="password_error" >[[password_error_message]]</small>
                    </div>
                    <!--确认密码-->
                    <div class="form-group">
                        <label style="margin-left: 1rem">确认密码:</label>
                        <div class="col-lg-8">
                            <input type="password" name="password2" placeholder="请输入确认密码" required  class="form-control bg-dark text-light" v-model="password2" @blur="check_password2"/>
                        </div>
                        <small class="form-text text-muted ml-1 bg-dark" v-show="password2_error" >[[password2_error_message]]</small>
                    </div>
                   <!--图片验证码-->
                    <div class="form-group">
                        <label style="margin-left: 1rem">图片验证码:</label>
                        <div class="row" style="margin-right:5px;margin-left:0px">
                            <div class="col-lg-8">
                                <input type="text" name="image_code" placeholder="请输入图片验证码" required  class="form-control bg-dark text-light" v-model="image_code" @blur="check_image_code"/>
                            </div>
                            <img :src="image_code_url" @click="generate_image_code" alt="" style="width: 110px;height: 40px;">
                            <small class="form-text text-muted ml-1 bg-dark" v-show="image_code_error" >[[image_code_error_message]]</small>
                        </div>
                    </div>
                   <!--短信验证码-->
{#                    <div class="form-group">#}
{#                        <label >短信验证码:</label>#}
{#                        <div class="row" style="margin-right:5px;margin-left:0px">#}
{#                            <div class="col-lg-8">#}
{#                                <input type="text" name="sms_code" placeholder="请输入短信验证码" required  class="form-control" v-model="sms_code" @blur="check_sms_code"/>#}
{#                            </div>#}
{#                            <span class="primaryAction btn btn-primary" @click="send_sms_code">[[sms_code_message]]</span>#}
{#                            <small class="form-text text-muted ml-1" v-show="sms_code_error" >[[sms_code_error_message]]</small>#}
{#                        </div>#}
{#                    </div>#}
                    <!--邮件验证码-->
                    <div class="form-group">
                        <label style="margin-left: 1rem">邮件验证码:</label>
                        <div class="row" style="margin-right:5px;margin-left:0px">
                            <div class="col-lg-8">
                                <input type="text" name="email_code" placeholder="请输入邮件验证码" required  class="form-control bg-dark text-light" v-model="email_code" @blur="check_email_code"/>
                            </div>
                            <span class="primaryAction btn btn-primary bg-dark" @click="send_email_code">[[email_code_message]]</span>
                            <small class="form-text text-muted ml-1 bg-dark" v-show="email_code_error" >[[email_code_error_message]]</small>
                        </div>
                    </div>
                        <button class="primaryAction btn btn-primary bg-dark" style="margin-left: 15px; width: 344px" type="submit" id="submit_login" @click="on_submit">注册</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
{% block footer_con %}{% endblock footer_con %}
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock bottomfiles %}

{#<!-- Footer -->#}
{#<footer class="py-3 bg-dark" id="footer">#}
{#    <div class="container">#}
{#        <h5 class="m-0 text-center text-white">Copyright @ qiruihua</h5>#}
{#    </div>#}
{#</footer>#}
{#</div>#}
{#<!-- 引入js -->#}
{#<script type="text/javascript" src="{% static 'js/host.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/common.js' %}"></script>#}
{#<script type="text/javascript" src="{% static 'js/register.js' %}"></script>#}
{#</body>#}
{#</html>#}