{% extends 'base.html' %}
{% load static %}

{% block title %}登陆{% endblock title %}
{% block topfiles %}{% endblock topfiles %}
{% block header_con %}{% endblock header_con %}
{% block body %}

<!--content-->
    <h1 class="text-light text-center">个人信息</h1>
<div class="container bg-dark text-light" style="height: fit-content; margin-top: 2rem; padding-top: 1rem; padding-bottom: 1rem; border-radius: 20px">
        <div class="row">
            <div class="col-12">
                <br>
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <!-- username -->
                <div class="form-group col-md-6">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control bg-dark text-light" id="username" name="username" value="{{ username }}" >
                </div>
                <!--<br><h5 class="col-md-4">暂无头像</h5><br>-->
                <br> <div class="col-md-6">头像</div>
                    {% if avatar %}
                        <img src="{{ avatar }}" style="max-width: 20%;" class="col-md-6"><br>
                    {% else %}
                        <img src="" style="max-width: 20%;" class="col-md-6"><br>
                    {% endif %}

                    <!-- avatar -->
                    <div class="form-group col-md-6">
                        <label for="avatar">上传头像</label>
                        <input type="file" class="form-control-file bg-dark text-light" name="avatar" id="avatar">
                    </div>

                    <!-- phone -->
                    <div class="form-group col-md-6">
                        <label for="phone">电话</label>
                        <input type="text" class="form-control bg-dark text-light" disabled="disabled" id="phone" name="phone" value="{{ mobile }}">
                    </div>
                    <!-- desc -->
                    <div class="form-group col-md-6">
                        <label for="desc">简介</label>
                        <!-- 文本区域 -->
                        <textarea type="text" class="form-control bg-dark text-light" id="desc" name="desc" rows="12">{{ user_desc }}</textarea>
                    </div>
                    <!-- 提交按钮 -->
                    <button type="submit" class="btn btn-primary bg-dark" style="margin-left: 14px; width: 530px" >修改</button>
                </form>
            </div>
        </div>
    </div>


{% endblock body %}
{% block footer_con %}{% endblock footer_con %}
{% block bottomfiles %}
    <script type="text/javascript" src="{% static 'js/center.js' %}"></script>
{% endblock bottomfiles %}
